body
{
	background-color:#6A989F;
}

table,td,th
{
	border-style:solid;
	width:20%;
	border-color:black;
	border-collapse:collapse;
}
table
{
	border-width:5px;
margin-left:38%;
	background-color:#BFCE60;
}
 
th
{
	border-width:4px;
}
 
td
{
	border-width:2px;
	text-align:center;
}

#formulaire_connexion,#formulaire_inscription
{
	margin-left:35%;
}

#formulaire_connexion
{
	font-weight:bold;
	font-size:30px;
	margin-top: 15%;
}

.Input
{
	height:4%;
	width:15%;
}

#connexion,#inscription
{
	height:8%;
	width:10%;
	margin-top: 3%;
	margin-left:14%;
	font-weight:bold;
	background-color:#9EBA66;
}



#formDate
{
	margin-left:auto;
	margin-right:auto;
	width: 30%;
}

a
{
	margin-left:80%;
}

#formActivite
{
	float:left;
	margin-left:10%;
	margin-top:20%;
	border-style:solid;
	border-color:black;
	border-collapse:collapse;
}


#date
{
	margin-top:15%;
	margin-left:auto;
	margin-right:auto;
	width: 15%;
	font-weight:bold;
	font-size:30px;
}
